deb https://nexus.common.ryezone.com/repository/ubuntu-focal focal universe
deb https://nexus.common.ryezone.com/repository/ubuntu-focal focal multiverse
deb https://nexus.common.ryezone.com/repository/ubuntu-focal focal main restricted
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-updates focal-updates main restricted
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-updates focal-updates universe
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-updates focal-updates multiverse
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-backports focal-backports main restricted universe multiverse
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-security focal-security main restricted
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-security focal-security universe
deb https://nexus.common.ryezone.com/repository/ubuntu-focal-security focal-security multiverse

# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal focal universe
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal focal multiverse
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal focal main restricted
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-updates focal-updates universe
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-updates focal-updates multiverse
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-updates focal-updates main restricted
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-backports focal-backports main restricted universe multiverse
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-security focal-security main restricted
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-security focal-security universe
# deb-src https://nexus.common.ryezone.com/repository/ubuntu-focal-security focal-security multiverse
