base-url={{ shoelaces_domain }}
bind-addr={{ shoelaces_bind_addr }}
data-dir=/etc/shoelaces/data
template-extension={{ shoelaces_template_extension }}
mappings-file=mappings.yaml
debug={{ shoelaces_debug | bool | lower }}
