bind-addr={{ shoelaces_bind_addr }}
data-dir={{ shoelaces_data_dir }}
domain={{ shoelaces_domain }}
template-extension={{ shoelaces_template_extension }}
mappings-file={{ shoelaces_mappings_file }}
debug={{ shoelaces_debug | boolean | lower }}
