USE master;
GO
IF DB_ID (N'{{ database_name }}') IS NULL
CREATE DATABASE [{{ database_name }}]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'{{ database_name }}', FILENAME = N'/var/opt/mssql/userdata/{{ database_name }}.mdb' , SIZE = 131072KB , FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'{{ database_name }}_log', FILENAME = N'/var/opt/mssql/userlog/{{ database_name }}.ldb' , SIZE = 131072KB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [{{ database_name }}] SET COMPATIBILITY_LEVEL = 150
GO
ALTER DATABASE [{{ database_name }}] SET ANSI_NULL_DEFAULT OFF
GO
ALTER DATABASE [{{ database_name }}] SET ANSI_NULLS OFF
GO
ALTER DATABASE [{{ database_name }}] SET ANSI_PADDING OFF
GO
ALTER DATABASE [{{ database_name }}] SET ANSI_WARNINGS OFF
GO
ALTER DATABASE [{{ database_name }}] SET ARITHABORT OFF
GO
ALTER DATABASE [{{ database_name }}] SET AUTO_CLOSE OFF
GO
ALTER DATABASE [{{ database_name }}] SET AUTO_SHRINK OFF
GO
ALTER DATABASE [{{ database_name }}] SET AUTO_CREATE_STATISTICS ON(INCREMENTAL = OFF)
GO
ALTER DATABASE [{{ database_name }}] SET AUTO_UPDATE_STATISTICS ON
GO
ALTER DATABASE [{{ database_name }}] SET CURSOR_CLOSE_ON_COMMIT OFF
GO
ALTER DATABASE [{{ database_name }}] SET CURSOR_DEFAULT  GLOBAL
GO
ALTER DATABASE [{{ database_name }}] SET CONCAT_NULL_YIELDS_NULL OFF
GO
ALTER DATABASE [{{ database_name }}] SET NUMERIC_ROUNDABORT OFF
GO
ALTER DATABASE [{{ database_name }}] SET QUOTED_IDENTIFIER OFF
GO
ALTER DATABASE [{{ database_name }}] SET RECURSIVE_TRIGGERS OFF
GO
ALTER DATABASE [{{ database_name }}] SET  DISABLE_BROKER
GO
ALTER DATABASE [{{ database_name }}] SET AUTO_UPDATE_STATISTICS_ASYNC OFF
GO
ALTER DATABASE [{{ database_name }}] SET DATE_CORRELATION_OPTIMIZATION OFF
GO
ALTER DATABASE [{{ database_name }}] SET PARAMETERIZATION SIMPLE
GO
ALTER DATABASE [{{ database_name }}] SET READ_COMMITTED_SNAPSHOT OFF
GO
ALTER DATABASE [{{ database_name }}] SET  READ_WRITE
GO
ALTER DATABASE [{{ database_name }}] SET RECOVERY FULL
GO
ALTER DATABASE [{{ database_name }}] SET  MULTI_USER
GO
ALTER DATABASE [{{ database_name }}] SET PAGE_VERIFY CHECKSUM
GO
ALTER DATABASE [{{ database_name }}] SET TARGET_RECOVERY_TIME = 60 SECONDS
GO
ALTER DATABASE [{{ database_name }}] SET DELAYED_DURABILITY = DISABLED
GO
USE [{{ database_name }}]
GO
ALTER DATABASE SCOPED CONFIGURATION SET LEGACY_CARDINALITY_ESTIMATION = Off;
GO
ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET LEGACY_CARDINALITY_ESTIMATION = Primary;
GO
ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 0;
GO
ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET MAXDOP = PRIMARY;
GO
ALTER DATABASE SCOPED CONFIGURATION SET PARAMETER_SNIFFING = On;
GO
ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET PARAMETER_SNIFFING = Primary;
GO
ALTER DATABASE SCOPED CONFIGURATION SET QUERY_OPTIMIZER_HOTFIXES = Off;
GO
ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET QUERY_OPTIMIZER_HOTFIXES = Primary;
GO
USE [{{ database_name }}]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [{{ database_name }}] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
GO
-- Verify the database files and sizes
SELECT name, size, size*1.0/128 AS [Size in MBs]
FROM sys.master_files
WHERE name = N'{{ database_name }}';
GO
