driver:
  config:
    logLevel: debug
    driver: freenas-api-iscsi
    instance_id:
    httpConnection:
      protocol: https
      host: "{{ truenas_backend }}"
      port: 443
      apiKey: "{{ truenas_api_key }}"
      username: root
      allowInsecure: false
      apiVersion: 2

    zfs:
      datasetParentName: "{{ truenas_dataset_root }}/v"
      detachedSnapshotsDatasetParentName: "{{ truenas_dataset_root }}/s"
      zvolCompression:
      zvolDedup:
      zvolEnableReservation: false
      zvolBlocksize:

    iscsi:
      targetPortal: "{{ truenas_backend }}:3260"
      targetPortals: []
      interface:
      namePrefix: "csi-"
      nameSuffix: "-cluster"
      targetGroups:
        - targetGroupPortalGroup: 1
          targetGroupInitiatorGroup: 1
          targetGroupAuthType: None
          targetGroupAuthGroup:
      extentInsecureTpc: true
      extentXenCompat: false
      extentDisablePhysicalBlocksize: true
      extentBlocksize: 512
      extentRpm: "SSD"
      extentAvailThreshold: 0

csiDriver:
  name: "org.democratic-csi.iscsi"

storageClasses:
- name: truenas-iscsi-csi
  defaultClass: true
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: ext4
  mountOptions: []
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
- name: truenas-iscsi-csi-retain
  defaultClass: false
  reclaimPolicy: Retain
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: ext4
  mountOptions: []
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

volumeSnapshotClasses: []
