# {{ ansible_managed }}

*filter

# Ensure Default Deny is enabled.
:INPUT   DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT  DROP [0:0]

# Ensure Internal Loopback is configured.
-A INPUT  -j ACCEPT -i lo
-A OUTPUT -j ACCEPT -o lo
-A INPUT  -j DROP -s 127.0.0.0/8

# Ensure outbound and established connections are configured
-A OUTPUT -j ACCEPT -p tcp  -m conntrack --ctstate NEW,ESTABLISHED
-A OUTPUT -j ACCEPT -p udp  -m conntrack --ctstate NEW,ESTABLISHED
-A OUTPUT -j ACCEPT -p icmp -m conntrack --ctstate NEW,ESTABLISHED
-A INPUT  -j ACCEPT -p tcp  -m conntrack --ctstate NEW,ESTABLISHED
-A INPUT  -j ACCEPT -p udp  -m conntrack --ctstate NEW,ESTABLISHED
-A INPUT  -j ACCEPT -p icmp -m conntrack --ctstate NEW,ESTABLISHED

# Ensure SSH, NTP and DNS are explicitly allowed
-A INPUT  -j ACCEPT -p tcp --dport 22  -m conntrack --ctstate NEW -m comment --comment ssh
-A INPUT  -j ACCEPT -p udp --dport 123 -m conntrack --ctstate NEW -m comment --comment ntp
-A OUTPUT -j ACCEPT -p tcp --dport 53  -m conntrack --ctstate NEW -m comment --comment dns
-A OUTPUT -j ACCEPT -p udp --dport 53  -m conntrack --ctstate NEW -m comment --comment dns

# Allow Inbound Requests for the following services
{% for rule in firewall_rules_allow_inbound_v4 %}
-A INPUT  -j ACCEPT -p {{ rule.protocol }} --dport {{ rule.port }} {% if rule.source is defined %}-s {{ rule.source }}{% endif %} -m conntrack --ctstate NEW -m comment --comment "{{ rule.name }}"
{% endfor %}

# Allow Outbound Requests for the following services
{% for rule in firewall_rules_allow_outbound_v4 %}
-A OUTPUT -j ACCEPT -p {{ rule.protocol }} --dport {{ rule.port }} {% if rule.dest is defined %}-d {{ rule.dest }}{% endif %} -m conntrack --ctstate NEW -m comment --comment "{{ rule.name }}"
{% endfor %}

COMMIT
