<VirtualHost {{ site.host | default('*') }}:{{ site.port | default(httpd_http_port) | int }}>
  # The ServerName directive sets the request scheme, hostname and port that
  # the server uses to identify itself. This is used when creating
  # redirection URLs. In the context of virtual hosts, the ServerName
  # specifies what hostname must appear in the request's Host: header to
  # match this virtual host. For the default virtual host (this file) this
  # value is not decisive as it is used as a last resort host regardless.
  # However, you must set it for any further virtual host explicitly.
{% if site.serverName is defined %}
  ServerName {{ site.serverName }}
{% endif %}

{% if site.serverAdmin is defined %}
  ServerAdmin {{ site.serverAdmin }}
{% endif %}

{% if site.proxyPreserveHost is defined and site.proxyPreserveHost %}
  ProxyPreserveHost On
{% endif %}

{% if site.ssl is defined %}
SSLEngine on
SSLCertificateFile {{ ssl.cert }}
SSLCertificateKeyFile {{ ssl.key }}
{% endif %}

{% for alias in site.aliases | default([]) %}
  Alias {{ alias.path }} {{ alias.dest }}
{% endfor %}

{% if site.documentRoot is defined %}
  DocumentRoot {{ site.documentRoot }}
{% endif %}
{% for directory in site.directories | default([])%}
  <Directory {{ directory.path }}>
    {% if directory.options %}
    Options {{ directory.options }}
    {% endif %}
    {% if directory.allowOverride is defined %}
    AllowOverride {{ directory.allowOverride }}
    {% endif %}
    {% if directory.require is defined %}
    Require {{ directory.require }}
    {% endif %}
  </Directory>
{% endfor %}

{% for location in site.locations | default([]) %}
  <Location {{ location.path }}>
{% if location.proxyPass is defined %}
    ProxyPass {{ location.proxyPass }}
{% endif %}
  </Location>
{% endfor %}
  # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
  # error, crit, alert, emerg.
  # It is also possible to configure the loglevel for particular
  # modules, e.g.
  #LogLevel info ssl:warn

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  # For most configuration files from conf-available/, which are
  # enabled or disabled at a global level, it is possible to
  # include a line for only one particular virtual host. For example the
  # following line enables the CGI configuration for this host only
  # after it has been globally disabled with "a2disconf".
  #Include conf-available/serve-cgi-bin.conf

{% if site.requestHeader is defined %}
  RequestHeader {{ site.requestHeader }}
{% endif %}
{% for proxyPass in site.proxyPass | default([]) %}
  ProxyPass {{ proxyPass.from }} {{ proxyPass.to }}
{% endfor %}
{% for proxyPassReverse in site.proxyPassReverse | default([]) %}
  ProxyPass {{ proxyPassReverse.from }} {{ proxyPassReverse.to }}
{% endfor %}
</VirtualHost>
