apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-karp
  namespace: kube-system
spec:
  chart: kube-karp
  repo: https://github.com/immanuelfodor/kube-karp/helm
  targetNamespace: default
  valuesContent: |-
    envVars:
      virtualIp: {{ lookup('community.general.dig', cluster_name)}}
    interface: {{ ansible_default_ipv4.interface }}
