apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kubernetes_control_plane_endpoint_address }}:{{ kubernetes_control_plane_endpoint_port }}"
    token: {{ discovery_token }}
    caCertHashes:
      - sha256:{{ discovery_token_ca_cert_hash }}
  timeout: 5m0s
  tlsBootstrapToken: {{ discovery_token }}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ kubernetes_advertise_address }}
    bindPort: {{ kubernetes_bind_port }}
  certificateKey: {{ certificate_key }}
nodeRegistration:
  criSocket: /var/run/crio/crio.sock
  name: {{ kubernetes_node_name }}
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
  kubeletExtraArgs:
    cgroup-driver: "cgroupfs"
