[Unit]
Description=Updates apt mirrors
Requires=debmirror.{{ aptmirror.mirror.name }}.update.service

[Timer]
Unit=debmirror.{{ aptmirror.mirror.name }}.update.service

OnCalendar={{ aptmirror.systemd.on_calendar | default(debmirror_on_calendar) }}
AccuracySec={{ aptmirror.systemd.accuracy_sec | default(debmirror_accuracy_sec) }}

[Install]
WantedBy=timers.target
