export EDITOR={{ profile.editor }}
export TERM=xterm-256color
export VISUAL={{ profile.visual }}
export GOPATH={{ profile.gopath }}
export PROXMOX_USERNAME={{ proxmox_user }}
export PROXMOX_PASSWORD={{ proxmox_pass }}
