Name: {{ update.Name }}
{% if update.Method is defined and update.From is not defined %}
Method: {{ update.Method }}
{% endif %}
{% if update.Fallback is defined and update.From is not defined %}
Fallback: {{ update.Fallback }}
{% endif %}
{% if update.Config is defined and update.From is not defined %}
{% for config_line in update.Config %}
{% if loop.index == 0 %}
Config: {{ config_line }}
{% else %}
  {{ config_line }}
{% endif %}
{% endfor %}
{% endif %}
{% if update.From is defined %}
From: {{ update.From }}
{% endif %}
{% if update.Suite is defined %}
Suite: {{ update.Suite }}
{% endif %}
{% if update.Components is defined %}
Components: {{ update.Components | join(' ') }}
{% endif %}
{% if update.Architectures is defined %}
Architectures: {{ update.Architectures | join(' ') }}
{% endif %}
{% if update.UDebComponents is defined %}
UDebComponents: {{ update.UDebComponents | join(' ') }}
{% endif %}
{% if update.IgnoreRelease is defined %}
IgnoreRelease: {{ update.IgnoreRelease }}
{% endif %}
{% if update.GetInRelease is defined %}
GetInRelease: {{ update.GetInRelease }}
{% endif %}
{% if update.Flat is defined %}
Flat: {{ update.Flat }}
{% endif %}
{% if update.IgnoreHashes is defined %}
IgnoreHashes: {{ update.IgnoreHashes }}
{% endif %}
{% if update.FilterFormula is defined %}
FilterFormula: {{ update.FilterFormula }}
{% endif %}
{% if update.FilterList is defined %}
FilterList: {{ update.FilterList }}
{% endif %}
{% if update.FilterSrcList is defined %}
FilterSrcList: {{ update.FilterSrcList }}
{% endif %}
{% if update.OmitExtraSourceOnly is defined %}
OmitExtraSourceOnly: {{ update.OmitExtraSourceOnly }}
{% endif %}
{% if update.ListHook is defined %}
ListHook: {{ update.ListHook }}
{% endif %}
{% if update.ListShellHook is defined %}
ListShellHook: {{ update.ListShellHook }}
{% endif %}
{% if update.DownloadListsAs is defined %}
DownloadListsAs: {{ update.DownloadListsAs }}
{% endif %}
{% if update.VerifyRelease is defined %}
VerifyRelease: {{ update.VerifyRelease }}
{% endif %}
