<!doctype html>
<title>{{ .Title }}</title>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  h2 { font-size: 35px; }
  body { font: 20px Montserrat, sans-serif; color: #fff; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Default backend</h1>
    <h2>{{ .StatusCode }}</h2>
    <div>
        <p>This is a sample page of customized default backend.</p>
        <p>&mdash; {{ .ByLine }}</p>
    </div>
</article>
<style>
body {
  background-color: #3E0D81;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat';
}
</style>